<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAK Rechner</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    <h1>Willkommen beim BAK Rechner</h1>

    <p>Hier findest du ein hilfreiches Tool, um dein Trinkverhalten zu analysieren.</p>
    <br>
    <p>Um Daten zu erfassen, klicke in der Navigation auf Daten erfassen, wenn du bereits Daten erfasst hast, <br>
    kannst du diese unter Visualisierung anschauen oder unter Inputs löschen.<br>
    </p>

{% endblock %}

</body>
</html>