<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input gespeichert</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h3>Input nicht gespeichert</h3>
<br>
<div class="alert alert-dark" role="alert">
    Achtung! Dein Input konnte nicht gespeichert werden!
</div>
<p>Leider existiert bereits ein Eintrag zur gewählten Uhrzeit. Weil du bestimmt nicht zwei Getränke zur gleichen
Zeit getrunken hast, kannst du leider auch nicht zwei Getränke gleichzeitig eintragen. Bitte erfasse dein Getränk erneut,
dieses Mal aber zu einer anderen Uhrzeit. Danke!</p>
<a href="{{ url_for('erfassung') }}" class="btn btn-dark">Daten erfassen</a>
{% endblock %}
</body>
</html>